

h1{
    /* flex:1; */
    margin-top: 3%;
    font-size: 250%;
    text-align: center;
    background-color: orange;
    margin-bottom: 3%;
}

/* #teamNames{
   
    text-align: center;
}
#teamNames{
   
    width:100%;
    text-align: center;
    background-color: black;
}
 */


#battleWrapper,
#lifeA1,
#lifeA2,
#lifeA3 {
/* flex: 1; */
float:left;
margin-left:1%;    
height:5px;
width: 31%;
border: 2px solid red;
background-color: red;
}

#lostA1,
#lostA2,
#lostA3,
#lostB1,
#lostB2,
#lostB3 {
    /* flex: 1; */
    height:5px;
    text-align: right;
    float: right;
    background-color: white;
}

#cardA1,
#cardA2,
#cardA3,
#cardB1,
#cardB2,
#cardB3 {
    /* flex: 1; */
    /* flex-shrink: 2; */
    float:left;
    margin-left:1%;    
    width: 31%;
    height:100px;   
    border: 2px solid red;
    background-color: black;
    
}


#foodStats,
#foodA1Value,
#foodA2Value,
#foodA3Value,

#foodB1Value,
#foodB2Value,
#foodB3Value,


#foodA1Compare,
#foodA2Compare,
#foodA3Compare,

#foodB1Compare,
#foodB2Compare,
#foodB3Compare {
    flex: 1;
    float:left;
    text-align: center;
    margin-left:1%;    
    width: 31%;
    height:30px;
    border: 2px solid black;
    
}

#foodA1,
#foodA2,
#foodA3,

#foodB1,
#foodB2,
#foodB3{
    display: block;
    margin: auto;
    height: 100%;
}

#battle {
    flex: 1;
    width: auto;
    display: block;
    margin: auto;
}

 






