html {
     /* display:flex; */
    flex-direction: column;
    height: 95vh;
    width: 100%;
    border: 1px solid yellow;
}
div, p, span, button {
flex:1;
}

#container{
    /* height: 100%; */
    /* display:flex; */
    margin-left: 5%;
    /* height: 90vh; */
    /*background-color:black;*/
    color:white;
    border: 1px solid green;
}

h1{
    /* flex:1; */
    margin-top: 3%;
    font-size: 250%;
    text-align: center;
    background-color: orange;
    margin-bottom: 3%;
}
#container{
    /* flex: 1; */
    background-color: black;
    width: 90%;
}
#teamNames{
    /* flex:1; */
    text-align: center;
}



#battleWrapper,
#teamNames{
    /* flex: 1; */
    width:100%;
    text-align: center;
    background-color: black;
}
#lifeA1,
#lifeA2,
#lifeA3 {
/* flex: 1; */
float:left;
margin-left:1%;    
height:5px;
width: 31%;
border: 2px solid red;
background-color: red;
}

#lostA1,
#lostA2,
#lostA3,
#lostB1,
#lostB2,
#lostB3 {
    /* flex: 1; */
    height:5px;
    text-align: right;
    float: right;
    background-color: white;
}



#cardA1,
#cardA2,
#cardA3,
#cardB1,
#cardB2,
#cardB3 {
    /* flex: 1; */
    /* flex-shrink: 2; */
    float:left;
    margin-left:1%;    
    width: 31%;
    height:100px;   
    border: 2px solid red;
    background-color: black;
    
}

img {
    /* flex: 1; */
    max-width: auto;
    height: 100%;
    /* display: flex; */
    /* flex-flow: row nowrap; */
    align-items: center; 
}


#clearFloat{
clear: both;
}
#foodStats,
#foodA1Value,
#foodA2Value,
#foodA3Value,

#foodB1Value,
#foodB2Value,
#foodB3Value,

/* below for comparison */
#foodA1Compare,
#foodA2Compare,
#foodA3Compare,

#foodB1Compare,
#foodB2Compare,
#foodB3Compare {
    flex: 1;
    float:left;
    text-align: center;
    margin-left:1%;    
    width: 31%;
    height:5px;
    border: 2px solid black;
    background-color: black;
}

#foodA1,
#foodA2,
#foodA3,

#foodB1,
#foodB2,
#foodB3{
    width: 100%;
    display: block;
    margin: auto;
    height: 100%;
}

#battle {
    flex: 1;
    width: auto%;
    display: block;
    margin: auto;
}

 






