body{
    margin-left: 5%;
    width:80%;
    background-color:black;
    color:white;
}

h1{
    margin-top: 3%;
    font-size: 250%;
    text-align: center;
    background-color: orange;
    margin-bottom: 3%;
}

#instructions{
   padding:2%;
   line-height: 150%;
   color: blue;
   background-color: beige;
   margin-bottom: 3%;
}

img {
    height: 15%;
    width: 15%;
}

#emeraldValue,
#rubyValue,
#diamondValue,
#sapphireValue {
    text-align: center;
    float: left;
    height: 15%;
    width: 14%;
    margin:1%;

}
#rubyValue, #sapphireValue{
    margin-left:0%;

}
#emeraldStatsA,
#rubyStatsA,
#diamondStatsA,
#sapphireStatsA {
    text-align: center;
    float: left;
    height: 15%;
    width: 14%;
    margin:1%;

}
#rubyStatsA, #sapphireStatsA{
    margin-left:0%;

}
#emeraldStatsB,
#rubyStatsB,
#diamondStatsB,
#sapphireStatsB {
    text-align: center;
    float: left;
    height: 15%;
    width: 14%;
    margin:1%;

}
#rubyStatsB, #sapphireStatsB{
    margin-left:0%;

}
#emeraldValue2,
#rubyValue2,
#diamondValue2,
#sapphireValue2 {
    text-align: center;
    float: left;
    height: 15%;
    width: 14%;
    margin:1%;

}
#rubyValue2, #sapphireValue2{
    margin-left:0%;

}

#emeraldCompare,
#rubyCompare,
#diamondCompare,
#sapphireCompare {
    text-align: center;
    float: left;
    height: 15%;
    width: 14%;
    margin:1%;

}
#rubyCompare, #sapphireCompare{
    margin-left:0%;

}
#emeraldCompare2,
#rubyCompare2,
#diamondCompare2,
#sapphireCompare2 {
    text-align: center;
    float: left;
    height: 15%;
    width: 14%;
    margin:1%;

}
#rubyCompare2, #sapphireCompare2{
    margin-left:0%;

}
#targetScore{
    float:left;
    text-align: center;
    background-color: green;
    color: black;
    width: 50%;
    margin-right: 2%;
    line-height: 169%;
}

#winLoss{
    float:left;
    background-color: aquamarine;
    color:black;
    margin-left: 2%;
    padding-top:.5%;
    padding-left: 2%;
    width: 44%;
    line-height: 168%;
}
#gems{
    padding-top: 2%;
    clear:both;
}

#score {
    text-align: center;
    background-color: teal;
    clear: both;
    line-height: 168%;
}